@use "../../App.scss";

%displayState {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: block;
    cursor: pointer;
  }
}

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8em;
  font-family: "Work Sans", sans-serif;

  & > div {
    display: flex;
    align-items: center;
  }

  @media only screen and (min-width: 1024px) {
    margin: 1em 2em;
  }
}

#navbar-search {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    width: 40%;

    input {
      border: none;
      outline: none;
      margin: 0.7em 1em;
      width: 100%;
    }

    input::placeholder {
      font-family: inherit;
    }

    div {
      border: 1px solid rgba(33, 63, 125, 0.2);
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-right: 0px;
      width: 80%;
    }
  }
}

.navbar-btn {
  background-color: App.$button-color;
  outline: none;
  border: none;
  padding: 0.75em 1.2em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search-icon {
  width: 1.5em;
  margin-right: 1em;

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

.nav-name {
  @extend %displayState;

  @media only screen and (min-width: 1024px) {
    margin: 0 0 0 1em;
  }
}

.nav-bell {
  @extend %displayState;

  @media only screen and (min-width: 1024px) {
    margin: 0 1.5em;
  }
}

.nav-docs {
  @extend %displayState;

  @media only screen and (min-width: 1024px) {
    margin-right: 1em;
    text-decoration: underline;
    color: App.$primary-color;
  }
}

.nav-arrowDown {
  margin-left: 8px;
  margin-bottom: 4px;

  @media only screen and (min-width: 1024px) {
    margin-left: 1em;
  }
}

.avatar {
  border-radius: 50%;
  width: 30px;
  margin-right: 5px;
}

.menuIconMobile {
  width: 1.7em;
  margin-right: 5px;

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}
