* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("./assets/avenir-next/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Ital";
  src: url("./assets/avenir-next/AvenirNextLTPro-It.otf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("./assets/avenir-next/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

$secondary-fontReg: "Avenir Next Regular";
$secondary-fontItal: "Avenir Next Ital";
$secondary-fontBold: "Avenir Next Bold";
$primary-color: #213f7d;
$secondary-color: #545f7d;
$button-color: #39cdcc;

body {
  margin: 0;
}

.logo {
  width: 90px;
  height: 40px;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-top {
  margin: 1.2em 0;
}

%list-nav-style {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    margin-right: 0.5em;
  }
}

.list-nav {
  @extend %list-nav-style;
  padding: 0.8em;
  margin-left: -0.5em;
  margin-right: -0.5em;

  @media only screen and (min-width: 1024px) {
    width: auto;
    margin-left: -2em;
    margin-right: -2em;
    padding: 0.8em 2em;
  }
}

.list-heading {
  color: #545f7d;
  font-size: 12px;
  font-weight: 500;
  margin: 1em;
}
